{% extends 'backend/base.html' %}
{% block page_title %} Organization {% endblock %}
{% block content %}
<form method="POST" action="{% url 'organization:insert' %}">
	<div class="row">
			<div class="offset2 span8">
				<div class="form-inline">
					<label class="pet-label">{{ user_form.username.label }}</label>
							{{ user_form.username }} {{ user_form.username.errors }}
					<label class="pet-label">{{ user_form.password.label }}</label>
							{{ user_form.password }} {{ user_form.password.errors }}
                </div>
                <div class="divider"></div>
                <div class="form-inline">
                    <label class="pet-label">{{ user_form.first_name.label }}</label>
                            {{ user_form.first_name }} {{ user_form.first_name.errors }}
                    <label class="pet-label">{{ user_form.last_name.label }}</label>
                            {{ user_form.last_name }} {{ user_form.last_name.errors }}
				</div>
                <div class="divider"></div>
                <div class="form-inline">
                    <label class="pet-label">{{ user_form.email.label }}</label>
                            {{ user_form.email }} {{ user_form.email.errors }}
				</div>
                <div class="divider"></div>
                <div class="form-inline">
                    <label class="pet-label">{{ organization_form.name.label }}</label>
                            {{ organization_form.name }} {{ organization_form.name.errors }}
                    <label class="pet-label">{{ organization_form.contact_number.label }}</label>
                            {{ organization_form.contact_number }} {{ organization_form.contact_number.errors }}
				</div>
                <div class="divider"></div>
                <div class="form-horizontal">
					<label class="pet-label">{{ organization_form.address.label }}</label>
							{{ organization_form.address }} {{ organization_form.address.errors }}
				</div>
                <div class="divider"></div>
                <div class="form-inline">
                    <label class="pet-label">{{ organization_form.youtube_channel.label }}</label>
                            {{ organization_form.youtube_channel }} {{ organization_form.youtube_channel.errors }}
				</div>
                <div class="divider"></div>
			<input class="btn btn-primary" type="submit" value="Save"/> {% csrf_token %}
			</div>
	</div>
</form>
{% endblock %}
