{% extends 'backend/base.html' %}
{% block page_title %} pet {% endblock %}
{% block script %}
	{% include "utilities/head_js.html" with url="backend/pet.js" %}
        <script language="javascript">
            {% if pet_form.channel %}
                var channel = {{ pet_form.channel }};
                app.value('YouTubeChannel', channel );
            {% else %}
                app.value('YouTubeChannel', "TheIncitement" );
            {% endif %}
            {% if pet_videos %}
                app.value('PetVideos', '{{ pet_videos|safe }}');
            {% else %}
                app.value('PetVideos', '');
            {% endif %}
                
        </script>
{% endblock %}
{% block content %}
<div ng-controller="VideosController" style="height:100%;">
<div class="span3 side-menu" >
    <ul class="nav nav-list">
        <li class="nav-header">Admin - Insert Pet Navigation</li>
        <li><a ng-click="changeInsertPetView('pet')">Pet</a></li>
        <li><a ng-click="changeInsertPetView('video')">Video</a></li>
        <li></li>
    </ul>
</div>
    <div class="span12 side-container">
            <form method="POST" action="{% url 'pet:edit' pk=pet_form.id %}/">
            {% csrf_token %}
                {% include 'pets/pet_form.html' %}
                {% include 'pets/pet_videos_form.html' %}
                <div class="divider"></div>
                <input class="btn btn-primary" type="submit" value="Save"/>
            </form>
        </div>

</div>
{% endblock %}
