<div id="pet" ng-hide="insertPet">
    <div class="form-inline">
        <label class="pet-label">{{ pet_form.name.label }}</label>
                {{ pet_form.name }} {{ pet_form.name.errors }}
        <label class="pet-label">{{ pet_form.date_of_birth.label }}</label>
                {{ pet_form.date_of_birth }} {{ pet_form.date_of_birth.errors }}
    </div>
    <div class="form-horizontal">
        <label class="pet-label">{{ pet_form.description.label }}</label>
                {{ pet_form.description }} {{ pet_form.description.errors }}
    </div>
    <div class="divider"></div>
    <div class="form-inline" data-url="{% url 'pet:species' %}">
        <label class="pet-label">{{ pet_form.species.label }}</label>
                {{ pet_form.species }} {{ pet_form.species.errors }}
        <label class="pet-label">{{ pet_form.race.label }}</label>
                {{ pet_form.race }} {{ pet_form.race.errors }}
    </div>
    <div class="divider"></div>
    <div class="form-inline">
        <label class="pet-label">{{ pet_form.available_until.label }}</label>
                {{ pet_form.available_until }} {{ pet_form.available_until.errors }}
<!--
        <label class="pet-label">{{ pet_form.organization.label }}</label>
        <select ng-model="organization" ng-change="getVideos()">
        {% for organization in pet_form.organization.field.choices %}
            <option value="{{ organization.0 }}"> {{ organization.1 }}</option>
        {% endfor %}
        </select>
        {{ pet_form.organization.errors }}
-->
    </div>
</div>
