{% extends 'backend/base.html' %}
{% block page_title %} pet {% endblock %}
{% block script %}
	{% include "utilities/head_js.html" with url="backend/pet.js" %}
	<script language="javascript">
		var videos = {{ videos }};
	</script>
{% endblock %}
{% block content %} 
<form method="POST" action="{% url 'pet:insert' %}">
	<div class="row">
			<div class="offset2 span8">
				<div class="form-inline">
					<label class="pet-label">{{ form.name.label }}</label>
							{{ form.name }} {{ form.name.errors }}
					<label class="pet-label">{{ form.date_of_birth.label }}</label>
							{{ form.date_of_birth }} {{ form.date_of_birth.errors }}
				</div>
				<div class="form-horizontal">
					<label class="pet-label">{{ form.description.label }}</label>
							{{ form.description }} {{ form.description.errors }}
				</div>
				<div class="divider"></div>
				<div class="form-inline" data-url="{% url 'pet:species' %}">
					<label class="pet-label">{{ form.species.label }}</label>
							{{ form.species }} {{ form.species.errors }}
					<label class="pet-label">{{ form.race.label }}</label>
							{{ form.race }} {{ form.race.errors }}
				</div>
				<div class="divider"></div>
				<div class="form-inline">
					<label class="pet-label">{{ form.available_until.label }}</label>
							{{ form.available_until }} {{ form.available_until.errors }}
					<label class="pet-label">{{ form.organization.label }}</label>
							{{ form.organization }} {{ form.organization.errors }}
				</div>
				<div class="divider"></div>
				<div ng-controller="VideosController">
				<div class="form-inline">
					<label class="pet-label">Video Link </label> 
					<input type="text" ng-model="videoLink"/>
					<label class="pet-label">Ordering</label>
					<input type="text" ng-model="videoOrdering"/>
					<label class="pet-label">Published</label>
					<input type="checkbox" ng-model="videoPublished"/>
				</div>
				<a href="#" ng-click="addVideo()">Add</a>
					{% include 'pets/pet_videos.html' %}
				</div>
			<div class="divider"></div>
			<input class="btn btn-primary" type="submit" value="Save"/> {% csrf_token %}
			</div>
	</div>
</form>
{% endblock %}
